{% extends "base.html" %}
{% block content %}
    {% load staticfiles %}
    <link type="text/css" href="{% static "css/add.css"%}" rel="stylesheet"/>
    <script src="{% static "js/add.js" %}"></script>
</head>
<body>
{%if error_msg%}
{% for err in error_msg %}
<p align="center">{{ err }}<p>
{% endfor %}
{% endif %}
{% if success_msg %}
{% for success in success_msg %}
<p align="center">{{ success }}</p>
{% endfor %}
{% endif %}
  <div class="panel panel-default">
      <h3>资产信息新增</h3>
        <form name="register" action="" method="post">
        {% csrf_token %}
        <table class="table" >
        <tr>
            <td ><label for="hostname">主机名</td>
            <td ><input type="text" name="hostname"></td>
            <td><label for="ip">ip</td>
            <td><input type="text" name="ip"></td>
            <td><label for="subsystem">模块</td>
            <td><input type="text" name="subsystem"></td>
            <td><label for="appname">应用名称</td>
            <td><input type="text" name="appname"></td>
       </tr>
       <tr>
            <td><label for="depapp">部署路径</td>
            <td><input type="text" name="depapp"></td>
            <td><label for="port">端口</td>
            <td><input type="text" name="port"></td>
            <td><label for="domain">域名</td>
            <td><input type="text" name="domain"></td>
            <td><label for="envrio">部署环境</td>
            <td><input type="text" name="envrio"></td>
        </tr>
        </table>
            <div class="btn-group">
            <input type="hidden" name="ok" value="yes">
            <button type="submit" class="btn btn-info" onclick="checkaction(0)"  class="btn">保存</button>
            <button type="submit" class="btn btn-info" onclick="checkaction(1)"  class="btn">返回</button>
            </div>
        </form>
</div>
{% endblock %}
